@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&display=swap');


* {

	font-family: 'Montserrat';
	box-sizing: border-box;
	transition: 0.3s  ease-in-out;
}

body {
		margin: 0;
 
}


a {
	text-decoration: none;

}


ul, ol{

	padding: none;
}

h1 {
	margin: 0;
}


li{
	list-style: none;
}

.active_menu_link {
	text-shadow: 10px -5px 4px rgba(255, 184, 154, 1);
	text-transform: uppercase;
}

#wrapper {

	margin: 0 auto;
	width:1200px ;
	background: #eee;
}


header h1 {
	font-size:60px ;
	text-align: center;
	padding: 50px 0;
	background: #B54DCF;
	background: -webkit-linear-gradient(to right, #B54DCF 32%, #2ECF74 64%);
	background: -moz-linear-gradient(to right, #B54DCF 32%, #2ECF74 64%);
	background: linear-gradient(to right, #B54DCF 32%, #2ECF74 64%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} 

header nav {
	overflow: hidden;
}

header nav a {
	display: block;
	float: left;
	width: 236px;
	text-align: center;
	background: #000;
	color: #fff;
	padding: 25px 0;
	border: 2px solid transparent ;

}

header nav a:hover {

	background: #fff;
	color: blue;
	border: 2px solid #000; 
}

#second_page_title {
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	margin: 50px 0 70px 0;
}

/* main styles*/
main::after {
	content: "";
	display:block;
	clear:both;
}

.product_item {
	width: 400px;
	height: 400px;
	float: left;
	opacity: .2;

}
.product_item:hover {
	opacity: 1;
}

.product_item img {
	width: 100%;
}

footer {

	background: #424242;
padding: 50px  0;

}

footer p {
width: 800px;
margin: 0 auto;
text-align: center;
color: #ddd;

}

footer p:last-child {
	margin-top:20px ;

}

footer p span {
	text-transform: uppercase;
	font-weight: 800;
}




/*Categories PAGE START*/
#categories_page h2{

	text-align: center;
	font-size: 30px;
	font-weight: 200px;
	margin: 50px 0 20px 0;
}

.cat_item {
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.cat_item img {
	width: 50%;
	display: block;
	margin: 0 auto;
}	


.cat_item p {
	font-size: 15px;
	width: 200;
	margin: 0 auto 0 auto;

}


.cat_item a{
	display: block;
	background: #000;
	color: #fff;
	width: 200;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 25px;
	border: 5px dotted red;

}

.cat_item a:hover {
	border:5px solid #009688;
	transition: 0.3 easy-in-out;
	background: #fff;
	color: #000;
}
#news_page_main h2{
	text-align: center;
	font-weight:200;
	font-size:35px;
	margin:50px 0 70px 0;
}
.news_item{
	width:240px;
	height:550px;
	float:left;
	border:3px solid #424242;
	transition:.01s ease_in_out;
	overflow:hidden;
}

.news_item:hover {
	currsor:pointer;
	background:grey;
	color:#fff;
	transform:scale(1.1);
	-webkit-box-shadow: 27px -1px 15px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 27px -1px 15px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 27px -1px 15px 10px rgba(0, 0, 0, 0.2);
	border-radius:20px;
	border-width:1px;
	border-color:yellow;

}


.news_item img{
	display:block;
	width:100%;

}
.news_item h3{
	font-size:20px;


}

.news_item p{
	font-size:12px;

}
.news_item h3, .news_item p, .news_item a {
	padding:0 15px;
}
.news_item a {
	color:#424242;
	font-weight:700px;
}

.news_item a:hover{
	text-decoration:underline;
	color:#fff;
}

/* CONTACTS PAGE START*/

#contacts_page_main section {
	width:1100px;
	margin: 0 auto 70px auto;
}



#contacts_page_main section::after{
	content: "";
	clear: both;
	display: block;
}

#contacts_page_main section iframe, #contacts_page_main section aside {
	display: block;
	width: 550px;
	float: left;

}

#contacts_page_main section aside {
	padding: 0 25px;
}

#contacts_page_main section aside ul li{
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: 700;
	color:#000;
}

#contacts_page_main section aside ul li a {
	color: green;
}
#contacts_page_main section aside ul li a:hover {
	background: #000;
	color:green;
}

/*Basket page start*/

.basket_page_main h2{
 	text-align: center;
	font-size: 30px;
	font-weight: 200px;
	margin: 50px 0 20px 0;

}

.basket_item {
	width:400px;
	height:520px;
	float:left;
	border:3px solid #424242;
	transition:.01s ease_in_out;
	overflow:hidden;
}

.basket_item img {
	display: block;
	width: 100%;
} 
.basket_item h3{
	text-align: center;
}


.basket_item a{
	text-align: center;
	display: block;
	background: #000;
	color: #fff;
	width: 200;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 25px;
	border: 5px dotted grey;
}
.basket_item a:hover {
	border:5px solid #000;
	transition: 0.3 easy-in-out;
	background: #fff;
	color: #000;
}
body p {
	text-align: center;


}